<label for="dailyevent">
  <input type="checkbox" id="dailyevent" />
  Daily?
</label>




<!--<div >-->
  <!--<label><input type="checkbox" id="inputbox" name="colorCheckbox" value="daily"> daily </label>-->
  <!--<label><input type="checkbox" id="inputbox" name="colorCheckbox" value="weekly"> weekly </label>-->
  <!--<label><input type="checkbox" id="inputbox" name="colorCheckbox" value="monthly"> monthly </label>-->
  <!--<label><input type="checkbox" id="inputbox" name="colorCheckbox" value="yearly"> yearly </label>-->
<!--</div>-->