<div align="center">
<form class="group">
<!--<button type="submit" style="background-color:#007acc;color:white" onclick= class="btn btn-default">New Schedule</button>-->
<%= link_to 'New Schedule',  schedules_index_path,class: 'button alt' %>
</form>
</div>